html {box-sizing: border-box;}
*,::before, ::after {box-sizing: inherit;}

html {
  background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
  color: #f6f6f6f6;
}

#root {
  display: flex;
  width: 500px;
  margin: 50px auto 0px auto;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.nav__link {
  color: #f6f6f6f6;
  padding: 5px;
  font-size: 16px;
}

.icon {
  margin: 6px;
}

.input {
  height: 30px;
  margin-left: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
}

a > .arrow {
  color: white;
  margin: 0px 10px;
}

.sentence {
  text-align: right;
  margin-left: 20px;
}

.flex {
  display: flex;
  align-items: baseline;
  margin-top: 30px;
}