html {box-sizing: border-box;}
*,::before, ::after {box-sizing: inherit;}

html {
  background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
  color: #f6f6f6f6;
}

#root {
  display: flex;
  width: 500px;
  margin: 50px auto 0px auto;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.nav__link {
  color: #f6f6f6f6;
  padding: 5px;
  font-size: 16px;
}

.icon {
  margin: 6px;
}

.input {
  height: 30px;
  margin-left: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
}

a > .arrow {
  color: white;
  margin: 0px 10px;
}

.sentence {
  text-align: right;
  margin-left: 20px;
}

.flex {
  display: flex;
  align-items: baseline;
  margin-top: 30px;
}