html {box-sizing: border-box;}
*,::before, ::after {box-sizing: inherit;}

#root {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  flex-direction: column;
}